

.section1 {
	background-image: url(C:/xampp/htdocs/broadway/img/the-flatiron-building.png);
}


.section1 h1 {
	font-size: 70px;
	color:white;
	text-align: center;
	font-family: 'helvetica';
}

.menu{
	text-align: center;


}

.menu a{
	color:#ffffff;
	font-family: 'helvetica';
	font-size: 18px;
}

li {
	list-style: none;
	line-height: 30px;

}

.section2 h2{
	font-size: 32px;
	font-family: "helvetica";
	text-align: center;
	font-weight: bold;
}

.section2 h3 {
	font-family: "helvetica";
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}

.section2 p{
	text-align: center;
	font-family: "helvetica";
	font-size: 14px;
}



.section3 h3 {
    text-align: center;
    font-family: "helvetica";
    font-size: 23px;
}

.section3 p{
	text-align: center;
	font-family: "helvetica";
	font-size: 14px;
}

.section4 h3{
	text-align: center;
	font-size: 23px;
	font-family: "helvetica";
}

.section4 p{
	text-align: center;
	font-size: 14px;
	font-family: "helvetica";
}

.section5 h2 {
	background-image: url(C:/xampp/htdocs/broadway/img/the-flatiron-building.png);
	text-align: center;
	font-family: "helvetica";
	color: #ffffff;
	font-size: 23px;
}

.section5 p {
	text-align: center;
	font-family: "helvetica";
	font-size: 14px;
	font-family: "helvetica";
}

.section5 h3 {
     text-align: center;
     font-size: 23px;
     font-family: "helvetica";
}

.menufooter {
	background-color: dimgray;
	

}

.menufooter a{
	font-family: "helvetica";
	font-size: 11px;
	color:#ffffff;
}